<li class="weather__thumb">
  <div class="weather__info">
    <p class="weather__temp"></p>
    <div class="weather__add-info">
      <p class="weather__cond"></p>
      <p class="weather__location--thumb">
        <svg class="weather__location--icon" width="27" height="27">
          <use href="./images/icon.svg#icon-location"></use>
        </svg>
        <span class="weather__location"></span>
      </p>
    </div>
  </div>

  <img class="weather__icon" src="#" alt="Weather icon" />

  <ul class="weather__week--list display-none"></ul>

  <div>
    <p class="weather__date"></p>
    <button type="button" class="weather__week">weather for week</button>
  </div>
</li>
